.input {
  width: 372px;
  height: 36px;
  border: 1px solid #D1D1D1;
  border-radius: 5px;
}

.input:focus {
  border: 1px solid #a1a1a1;
}

.inputWrapper {
}

.superInput {
}

.errorInput {
  width: 372px;
  height: 36px;
  border: 1px solid #CC0000;
  border-radius: 5px;
}

.errorInput:focus {
}

.error {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #CC0000;
}
