* {
  font-family: 'Montserrat', sans-serif;
}
.App {
  --header_height: 60px;
  padding: 0 70px;
}
.hw {

}
.hwTitle {
  margin-bottom: 30px;
  padding-top: 70px;
  font-size: 20px;
  font-weight: 700;
}
.hwTitle::after {
  display: inline-block;
  content: "";
  border-top: 1px solid #d9d9d9;
  width: 100%;
}