* {
  font-family: 'Montserrat', sans-serif;
}
.App {
  --header_height: 60px;
  padding: 0 70px;
}
.hw {
  max-width: 80%;
}
.hwTitle {
  margin: 30px 0;
  font-size: 20px;
  font-weight: 700;
}
.hwTitle::before {
  margin-bottom: 30px;
  display: inline-block;
  content: "";
  border-top: 1px solid #d9d9d9;
  width: 100%;
}
.hwTitle::after {
  display: inline-block;
  content: "";
  border-top: 1px solid #d9d9d9;
  width: 100%;
}