.button {
  padding: 5px 24px;
  gap: 10px;
  height: 30px;

  border-radius: 3px;
  border: none;
  color: #fff;
  font-weight: bold;
}

.disabled {
  background: #0066CC;
  opacity: 0.5;
  color: #9c9c9c;
}

.secondary {
  border: 1px solid #0066CC;
  background-color: #FFFFFF;
  color: #0066CC;
}

.default {
  background: #0066CC;
}

.red {
  background-color: #CC1439;
}

.default:hover {
  background: #0080FF;
}

.red:hover {
  background: #FF1A47;
}

.secondary:hover {
  background: #E5F0FA;
}

.default:active {
  background: #0059B3;
}

.secondary:active {
  background: #C9E5FF;
}

.red:active {
  background: #B31232;
}

.button:disabled {
}
