.pagination {
  max-width: 550px;
  display: flex;
  justify-content: space-between;
}

.select {
  min-width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.superSelect {
  width: 40px;
}
